<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <!-- open link new window -->
                    <a href="#" target="_blank">
                        Recrux
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        Pricing
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, Recrux.
        </div>
    </div>
</footer>
