<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title" *ngIf="postAddDepartmentRequest.tbDepartment.tbdId != null">{{postAddDepartmentRequest.tbDepartment.tbdName}}</h4>
                        <h4 class="card-title" *ngIf="postAddDepartmentRequest.tbDepartment.tbdId == null">Departments</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row" *ngIf="postAddDepartmentRequest.tbDepartment.tbdId != null">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Id" type="text" [(ngModel)]="postAddDepartmentRequest.tbDepartment.tbdUuid" name="tbdUuid" readonly>
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Name" type="text" [(ngModel)]="postAddDepartmentRequest.tbDepartment.tbdName" name="tbdName">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row" *ngIf="saveUpdate == 'Update'">
                                <div class="col-md-12">
                                    <mat-radio-group aria-label="Status" name="tbpType" [(ngModel)]="postAddDepartmentRequest.tbDepartment.tbdStatus" name="tbpType">
                                        <mat-radio-button value="active">Active</mat-radio-button>
                                        &nbsp;
                                        <mat-radio-button value="not active">Not Active</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="clicked" (click)="saveupdate();">{{saveUpdate}}</button>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="back();">Back</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Jobs</h4>
                    </div>
                    <div class="card-body" *ngIf="searchForm">
                        <i class="material-icons" title="Search">search</i>
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Name" type="text" [(ngModel)]="getJobDepartmentListRequest.viewJobDepartment.tbjName" name="tbjName">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">                                                                   
                                    <mat-radio-group aria-label="Select an option" [(ngModel)]="getJobDepartmentListRequest.viewJobDepartment.tbjAssigned" name="tbjAssigned">
                                        <mat-radio-button value="assigned">Assigned</mat-radio-button>
                                        &nbsp;
                                        <mat-radio-button value="not assigned">Not Assigned</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="clicked" (click)="search();">Search</button>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="clear();">Clear</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>No</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Assigned</th>
                                    <th>Action</th>
                                </thead>
                                <tbody *ngIf="getJobDepartmentListResponse.lstViewJobDepartment[0].tbjUuid != undefined">
                                    <tr *ngFor="let viewJobDepartment of getJobDepartmentListResponse.lstViewJobDepartment; let i=index;">
                                        <td>{{i + 1 + (pageSize * pageIndex)}}</td>
                                        <td>{{viewJobDepartment.tbjUuid}}</td>
                                        <td>{{viewJobDepartment.tbjName}}</td>
                                        <td>{{viewJobDepartment.tbjStatus}}</td>
                                        <td>{{viewJobDepartment.tbjAssigned}}</td>
                                        <td class="td-actions">
                                            <button mat-icon-button title="View" [disabled]="clicked" (click)="edit(viewJobDepartment.tbjUuid);"><mat-icon>visibility</mat-icon></button>
                                            <button mat-icon-button title="Assign" [disabled]="clicked" (click)="setUnset(viewJobDepartment.tbjUuid, viewJobDepartment.tbdId);" *ngIf="viewJobDepartment.tbdId == undefined"><mat-icon>check</mat-icon></button>
                                            <button mat-icon-button title="Not Assign" [disabled]="clicked" (click)="setUnset(viewJobDepartment.tbjUuid, viewJobDepartment.tbdId);" *ngIf="viewJobDepartment.tbdId != undefined"><mat-icon>close</mat-icon></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <mat-paginator *ngIf="getJobDepartmentListResponse.lstViewJobDepartment[0].tbjUuid != undefined" [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" [previousPageIndex]="previousPageIndex" [pageSizeOptions]="pageSizeOptions" (page)="getPage($event)" [disabled]="clicked"></mat-paginator>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="add();">Add</button>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="filter();">Filter</button>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="back();">Back</button>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>