<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-danger">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        {{postAddJobRequest.tbJob.tbjName}} : 
                                        <a mat-button class="nav-link active" href="#job" data-toggle="tab">
                                            <i class="material-icons">settings</i> Details
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#resumeuppload" data-toggle="tab">
                                            <i class="material-icons">cloud_upload</i> Resume Upload
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="job">
                                <form>
                                    <div class="row">
                                        <div class="col-md-12">
                                          <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Id" type="text" [(ngModel)]="postAddJobRequest.tbJob.tbjUuid" name="tbjUuid" disabled>
                                          </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                          <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Name" type="text" [(ngModel)]="postAddJobRequest.tbJob.tbjName" name="tbjName">
                                          </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="saveUpdate == 'Update'">
                                        <div class="col-md-12">
                                            <mat-radio-group aria-label="Status" [(ngModel)]="postAddJobRequest.tbJob.tbjStatus" name="tbjStatus">
                                                <mat-radio-button value="active">Active</mat-radio-button>
                                                &nbsp;
                                                <mat-radio-button value="notactive">Not Active</mat-radio-button>
                                            </mat-radio-group>
                                        </div>
                                    </div>
                                    <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="clicked" (click)="saveupdate();">{{saveUpdate}}</button>
                                    <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="back();">Back</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                            <div class="tab-pane" id="resumeuppload">
                                <form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <input type="file" #fileInput (change)="onFileChanged($event)" multiple/>
                                            <mat-progress-bar mode="determinate" [value]="uploadPercentage"></mat-progress-bar>
                                            {{uploadPercentage}}%
                                            <br/>
                                            {{totalUpload}} / {{totalUploadNumber}} file(s) uploaded
                                            <div *ngIf="totalFiles != undefined">
                                                <div *ngFor="let file of totalFiles">                                                    
                                                    {{file}}
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                    <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="upload();">Upload</button>
                                    <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="back();">Back</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Resumes</h4>
                    </div>
                    <div class="card-body" *ngIf="searchForm">
                        <i class="material-icons" title="Search">search</i>
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Name" type="text" [(ngModel)]="getResumeJobListRequest.viewResumeJob.tbrDataNameRaw" name="tbrDataNameRaw">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">                                                                   
                                    <mat-radio-group aria-label="Select an option" [(ngModel)]="getResumeJobListRequest.viewResumeJob.tbrAssigned" name="tbrAssigned">
                                        <mat-radio-button value="assigned">Assigned</mat-radio-button>
                                        &nbsp;
                                        <mat-radio-button value="notassigned">Not Assigned</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="clicked" (click)="search();">Search</button>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="clear();">Clear</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>No</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Assigned</th>
                                    <th>Action</th>
                                </thead>
                                <tbody *ngIf="getResumeJobListResponse.lstViewResumeJob[0].tbrUuid != undefined">
                                    <tr *ngFor="let viewResumeJob of getResumeJobListResponse.lstViewResumeJob; let i=index;">
                                        <td>{{i + 1 + (pageSize * pageIndex)}}</td>
                                        <td>{{viewResumeJob.tbrUuid}}</td>
                                        <td>{{viewResumeJob.tbrDataNameRaw}}</td>
                                        <td>{{viewResumeJob.tbrStatus}}</td>
                                        <td>{{viewResumeJob.tbrAssigned}}</td>
                                        <td class="td-actions" *ngIf="viewResumeJob.tbrStatus == 'active'">
                                            <button mat-icon-button title="View" [disabled]="clicked" (click)="edit(viewResumeJob.tbrUuid);" *ngIf="viewResumeJob.tbrStatus != 'parsing'"><mat-icon>pageview</mat-icon></button>
                                            <button mat-icon-button title="Assign" [disabled]="clicked" (click)="setUnset(viewResumeJob.tbrUuid, viewResumeJob.tbjId);" *ngIf="viewResumeJob.tbjId == undefined"><mat-icon>check</mat-icon></button>
                                            <button mat-icon-button title="Not Assign" [disabled]="clicked" (click)="setUnset(viewResumeJob.tbrUuid, viewResumeJob.tbjId);" *ngIf="viewResumeJob.tbjId != undefined"><mat-icon>close</mat-icon></button>
                                        </td>
                                        <td class="td-actions" *ngIf="viewResumeJob.tbrStatus == 'parsing'">
                                            <mat-spinner diameter="25"></mat-spinner>
                                        </td>
                                        <td class="td-actions" *ngIf="viewResumeJob.tbrStatus == 'parse pending'">
                                            &nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <mat-paginator *ngIf="getResumeJobListResponse.lstViewResumeJob[0].tbrUuid != undefined" [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" [previousPageIndex]="previousPageIndex" [pageSizeOptions]="pageSizeOptions" (page)="getPage($event)" [disabled]="clicked"></mat-paginator>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="refresh();">Refresh</button>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="filter();">Filter</button>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="back();">Back</button>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
</div>