<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Jobs</h4>
                    </div>
                    <div class="card-body" *ngIf="searchForm">
                        <i class="material-icons" title="Search">search</i>
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Name" type="text" [(ngModel)]="getJobListRequest.tbJob.tbjName">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">                                                                   
                                    <mat-radio-group aria-label="Select an option" [(ngModel)]="getJobListRequest.tbJob.tbjStatus" name="tbjStatus">
                                        <mat-radio-button value="active">Active</mat-radio-button>
                                        &nbsp;
                                        <mat-radio-button value="not active">Not Active</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="search();">Search</button>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="clear();">Clear</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                    <div class="card-body">                        
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>No</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </thead>
                                <tbody *ngIf="getJobListResponse.lstTbJob[0].tbjUuid != undefined">
                                    <tr *ngFor="let tbJob of getJobListResponse.lstTbJob; let i=index;">
                                        <td>{{i + 1 + (pageSize * pageIndex)}}</td>
                                        <td>{{tbJob.tbjUuid}}</td>
                                        <td title="{{tbJob.tbjDescription}}" style="cursor: pointer">{{tbJob.tbjName}}</td>
                                        <td>{{tbJob.tbjStatus}}</td>
                                        <td class="td-actions">
                                            <button mat-icon-button title="View" [disabled]="clicked" (click)="edit(tbJob.tbjUuid);"><mat-icon>visibility</mat-icon></button>
                                            <button mat-icon-button title="Activate" [disabled]="clicked" (click)="nonActive(tbJob.tbjUuid, tbJob.tbjStatus);" *ngIf="tbJob.tbjStatus == 'not active'"><mat-icon>check</mat-icon></button>
                                            <button mat-icon-button title="Deactivate" [disabled]="clicked" (click)="nonActive(tbJob.tbjUuid, tbJob.tbjStatus);" *ngIf="tbJob.tbjStatus == 'active'"><mat-icon>close</mat-icon></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <mat-paginator *ngIf="getJobListResponse.lstTbJob[0].tbjUuid != undefined" [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" [previousPageIndex]="previousPageIndex" [pageSizeOptions]="pageSizeOptions" (page)="getPage($event)" [disabled]="clicked"></mat-paginator>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="add();">Add</button>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="filter();">Filter</button>                            
                        </div>                                                
                    </div>          
                </div>
            </div>
        </div>
    </div>
</div>