<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Resumes</h4>
                    </div>
                    <div class="card-body" *ngIf="searchForm">
                        <i class="material-icons" title="Search">search</i>
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="ID" type="text" [(ngModel)]="getResumeJobListRequest.viewResumeJob.tbrUuid" name="tbrUuid">
                                  </mat-form-field>                                  
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Name" type="text" [(ngModel)]="getResumeJobListRequest.viewResumeJob.tbrDataNameRaw" name="tbrDataNameRaw">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">                                                                   
                                    <mat-radio-group aria-label="Select an option" [(ngModel)]="getResumeJobListRequest.viewResumeJob.tbrStatus" name="tbrStatus">
                                        <mat-radio-button value="active">Active</mat-radio-button>
                                        &nbsp;
                                        <mat-radio-button value="notactive">Not Active</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="search();">Search</button>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="clear();">Clear</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                    <div class="card-body">                        
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>No</th>
                                    <th>Job ID</th>
                                    <th>Job Name</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </thead>
                                <tbody *ngIf="getResumeJobListResponse.lstViewResumeJob[0].tbrUuid != undefined">
                                    <tr *ngFor="let viewResumeJob of getResumeJobListResponse.lstViewResumeJob; let i=index;">
                                        <td>{{i + 1 + (pageSize * pageIndex)}}</td>                                        
                                        <td>{{viewResumeJob.tbjUuid}}</td>
                                        <td>{{viewResumeJob.tbjName}}</td>
                                        <td>{{viewResumeJob.tbrUuid}}</td>
                                        <td>{{viewResumeJob.tbrDataNameRaw}}</td>
                                        <td>{{viewResumeJob.tbrStatus}}</td>
                                        <td class="td-actions" *ngIf="viewResumeJob.tbrStatus == 'active'">
                                            <button mat-icon-button title="View" [disabled]="clicked" (click)="edit(viewResumeJob.tbrUuid);" *ngIf="viewResumeJob.tbrStatus != 'parsing'"><mat-icon>pageview</mat-icon></button>
                                            <button mat-icon-button title="Activate" [disabled]="clicked" (click)="nonActive(viewResumeJob.tbrUuid);" *ngIf="viewResumeJob.tbrStatus == 'notactive'"><mat-icon>check</mat-icon></button>
                                            <button mat-icon-button title="Deactivate" [disabled]="clicked" (click)="nonActive(viewResumeJob.tbrUuid);" *ngIf="viewResumeJob.tbrStatus == 'active'"><mat-icon>close</mat-icon></button>
                                        </td>
                                        <td class="td-actions" *ngIf="viewResumeJob.tbrStatus == 'parsing'">
                                            <mat-spinner diameter="25"></mat-spinner>
                                        </td>
                                        <td class="td-actions" *ngIf="viewResumeJob.tbrStatus == 'parse pending'">
                                            &nbsp;
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <mat-paginator *ngIf="getResumeJobListResponse.lstViewResumeJob[0].tbrUuid != undefined" [length]="length" [pageSize]="pageSize" [pageIndex]="pageIndex" [previousPageIndex]="previousPageIndex" [pageSizeOptions]="pageSizeOptions" (page)="getPage($event)" [disabled]="clicked"></mat-paginator>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="add();">Add</button>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="filter();">Filter</button>                            
                        </div>                                                
                    </div>          
                </div>
            </div>
        </div>
    </div>
</div>