<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Department Information Technology</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Name" type="text">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-radio-group aria-label="Status" name="tbpType">
                                        <mat-radio-button value="active">Active</mat-radio-button>
                                        &nbsp;
                                        <mat-radio-button value="not active">Not Active</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Jobs</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>5</td>
                                        <td>Programmer</td>
                                        <td>Added</td>
                                        <td class="td-actions">
                                            <i class="material-icons" title="View" style="cursor: pointer;">visibility</i>
                                            <i class="material-icons" title="Deactivate" style="cursor: pointer;">close</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>QA</td>
                                        <td>Added</td>
                                        <td class="td-actions">
                                            <i class="material-icons" title="View" style="cursor: pointer;">visibility</i>
                                            <i class="material-icons" title="Deactivate" style="cursor: pointer;">close</i>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>DevOps</td>
                                        <td>Removed</td>
                                        <td class="td-actions">
                                            <i class="material-icons" title="View" style="cursor: pointer;">visibility</i>
                                            <i class="material-icons" title="Deactivate" style="cursor: pointer;">close</i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="getPage($event)" [disabled]="clicked"></mat-paginator>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="clicked" (click)="back();">Back</button>
                            <input type="button" class="btn btn-danger pull-right" value="Filter" [disabled]="clicked" (click)="filter();"/>
                        </div>
                    </div>
                    <div class="card-body" *ngIf="searchForm">
                        <i class="material-icons" title="Search">search</i>
                        <form>
                            <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Name" type="text">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">                                                                   
                                    <mat-radio-group aria-label="Select an option" name="tbjStatus">
                                        <mat-radio-button value="active">Active</mat-radio-button>
                                        &nbsp;
                                        <mat-radio-button value="not active">Not Active</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="search();">Search</button>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="clear();">Clear</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>