<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-danger">            
            <h4 class="card-title">{{getResumeResponse.tbJob.tbjName}} ({{getResumeResponse.tbJob.tbjUuid}})</h4>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Resume Id" type="text" [(ngModel)]="postAddResumeRequest.tbResume.tbrUuid" name="tbrUuid" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name" type="text" [(ngModel)]="postAddResumeRequest.tbResume.tbrDataNameRaw" name="tbrDataNameRaw" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Score" type="text" [(ngModel)]="postAddResumeRequest.tbResume.tbrScore" name="tbrScore" readonly>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="AI Rating" type="text" [(ngModel)]="postAddResumeRequest.tbResume.tbrStar" name="tbrStar" readonly>
                  </mat-form-field>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-12">
                  <mat-radio-group aria-label="Status" name="tbpType" [(ngModel)]="postAddResumeRequest.tbResume.tbrStatus" name="tbrStatus">
                    <mat-radio-button value="active">Active</mat-radio-button>
                    &nbsp;
                    <mat-radio-button value="not active">Not Active</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <button mat-raised-button type="submit" class="btn btn-danger pull-right" [disabled]="clicked" (click)="update();">Update</button>
              <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="back();">Back</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-danger">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active" href="#personaldetails" data-toggle="tab">
                      <i class="material-icons">perm_identity</i> Personal Details
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#resume" data-toggle="tab">
                      <i class="material-icons">insert_drive_file</i> Resume
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#education" data-toggle="tab">
                      <i class="material-icons">spellcheck</i> Education
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#workexperience" data-toggle="tab">
                      <i class="material-icons">work_outline</i> Work Experience
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#note" data-toggle="tab">
                      <i class="material-icons">note_add</i> Note
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="personaldetails">
                <div class="row">
                  <div class="col-md-8">
                    <form>
                      <div class="row">
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Fist Name" type="text" [(ngModel)]="postAddResumeRequest.tbResume.tbrDataNameFirst" name="tbrDataNameFirst">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Middle Name" type="text" [(ngModel)]="postAddResumeRequest.tbResume.tbrDataNameMiddle" name="tbrDataNameMiddle">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Last Name" type="text" [(ngModel)]="postAddResumeRequest.tbResume.tbrDataNameLast" name="tbrDataNameLast">
                          </mat-form-field>
                        </div>                    
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Date Of Birth" type="text" [(ngModel)]="postAddResumeRequest.tbResume.tbrDataDateOfBirth" name="tbrDataDateOfBirth">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Phone Number" type="text" [(ngModel)]="postAddResumeRequest.tbResume.tbrDataPhoneNumbers" name="tbrDataPhoneNumbers">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Email" type="text" [(ngModel)]="postAddResumeRequest.tbResume.tbrDataEmails" name="tbrDataEmails">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Website" type="text" [(ngModel)]="postAddResumeRequest.tbResume.tbrDataWebsites" name="tbrDataWebsites">
                          </mat-form-field>
                        </div>                    
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Street" type="text" [(ngModel)]="postAddResumeRequest.tbResume.tbrDataLocationStreet" name="tbrDataLocationStreet">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="House Number" type="text" [(ngModel)]="postAddResumeRequest.tbResume.tbrDataLocationApartmentNumber" name="tbrDataLocationApartmentNumber">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="City" type="text" [(ngModel)]="postAddResumeRequest.tbResume.tbrDataLocationCity" name="tbrDataLocationCity">
                          </mat-form-field>
                        </div>                    
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="State" type="text" [(ngModel)]="postAddResumeRequest.tbResume.tbrDataLocationState" name="tbrDataLocationState">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Country" type="text" [(ngModel)]="postAddResumeRequest.tbResume.tbrDataLocationCountry" name="tbrDataLocationCountry">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Postal Code" type="text" [(ngModel)]="postAddResumeRequest.tbResume.tbrDataLocationPostalCode" name="tbrDataLocationPostalCode">
                          </mat-form-field>
                        </div>                    
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Language" type="text" [(ngModel)]="postAddResumeRequest.tbResume.tbrDataLanguages" name="tbrDataLanguages">
                          </mat-form-field>
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Total Experience" type="text" [(ngModel)]="postAddResumeRequest.tbResume.tbrDataTotalYearsExperience" name="tbrDataTotalYearsExperience">
                          </mat-form-field>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-4">
                    <div class="card">
                      <div class="card-header card-header-danger">
                        <h4 class="card-title">Soft Skills</h4>
                      </div>
                      <div class="card-body">
                        <div *ngFor="let tbResumeSkill of getResumeResponse.lstTbResumeSkillSoft; let i = index">
                          <button mat-raised-button type="button" class="btn btn-danger btn-round pull-left" [disabled]="clicked" style="padding: 6px 12px; text-transform: none;" title="Skills" *ngIf="tbResumeSkill.tbrsScore == 10">{{tbResumeSkill.tbrsName}} ({{tbResumeSkill.tbrsScore}})</button>
                          <button mat-raised-button type="button" class="btn btn-secondary btn-round pull-left" [disabled]="clicked" style="padding: 6px 12px; text-transform: none;" title="Skills" *ngIf="tbResumeSkill.tbrsScore != 10">{{tbResumeSkill.tbrsName}} ({{tbResumeSkill.tbrsScore}})</button>
                        </div>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header card-header-danger">
                        <h4 class="card-title">Hard Skills</h4>
                      </div>
                      <div class="card-body">
                        <div *ngFor="let tbResumeSkill of getResumeResponse.lstTbResumeSkillHard; let i = index">
                          <button mat-raised-button type="button" class="btn btn-danger btn-round pull-left" [disabled]="clicked" style="padding: 6px 12px; text-transform: none;" title="Skills" *ngIf="tbResumeSkill.tbrsScore == 10">{{tbResumeSkill.tbrsName}} ({{tbResumeSkill.tbrsScore}})</button>
                          <button mat-raised-button type="button" class="btn btn-secondary btn-round pull-left" [disabled]="clicked" style="padding: 6px 12px; text-transform: none;" title="Skills" *ngIf="tbResumeSkill.tbrsScore != 10">{{tbResumeSkill.tbrsName}} ({{tbResumeSkill.tbrsScore}})</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="resume">
                <iframe #pdfFrame id="pdf-frame" width="100%" height="650px"></iframe>
              </div>
              <div class="tab-pane" id="education">
                <table class="table table-hover">
                  <thead>
                    <th>No</th>
                    <th>Organization</th>
                    <th>Education</th>
                    <th>Action</th>
                  </thead>
                  <tbody *ngIf="getResumeResponse.lstTbResumeEducation">
                    <tr *ngFor="let tbResumeEducation of getResumeResponse.lstTbResumeEducation; let i=index;" [class.not-active]="tbResumeEducation.tbreStatus === 'not active'">
                      <td style="width: 5%;" style="vertical-align: top;">{{i + 1 + (pageSize * pageIndex)}}</td>    
                      <td style="width: 42.5%;">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Organization" type="text" [(ngModel)]="tbResumeEducation.tbreOrganization" name="tbreOrganization" [class.not-active]="tbResumeEducation.tbreStatus === 'not active'">
                        </mat-form-field>                        
                      </td>  
                      <td style="width: 42.5%;">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="Education" type="text" [(ngModel)]="tbResumeEducation.tbreEducation" name="tbreEducation" [class.not-active]="tbResumeEducation.tbreStatus === 'not active'">
                        </mat-form-field>                        
                      </td>
                      <td class="td-actions">
                        <button mat-icon-button title="Activate" class="pull-right" [disabled]="clicked" (click)="nonActiveEducation(tbResumeEducation.tbreUuid);" *ngIf="tbResumeEducation.tbreStatus == 'not active'"><mat-icon>check</mat-icon></button>
                        <button mat-icon-button title="Deactivate" class="pull-right" [disabled]="clicked" (click)="nonActiveEducation(tbResumeEducation.tbreUuid);" *ngIf="tbResumeEducation.tbreStatus == 'active'"><mat-icon>close</mat-icon></button>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3" style="text-align: center;">
                        <button mat-icon-button title="Add New" class="pull-right" [disabled]="clicked" (click)="addNewEducation();"><mat-icon>add</mat-icon></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="workexperience">
                <table class="table table-hover">
                  <thead>
                    <th>No</th>
                    <th>Job Title</th>
                    <th>Organization</th>
                    <th>Start / End</th>
                    <th>Description</th>
                    <th>Action</th>
                  </thead>
                  <tbody *ngIf="getResumeResponse.lstTbResumeWorkExperience">
                      <tr *ngFor="let tbResumeWorkExperience of getResumeResponse.lstTbResumeWorkExperience; let i=index;" [class.not-active]="tbResumeWorkExperience.tbrweStatus === 'not active'">
                          <td style="width: 5%;" style="vertical-align: top;">{{i + 1 + (pageSize * pageIndex)}}</td>           
                          <td style="width: 15%;" style="vertical-align: top;">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Job Title" type="text" [(ngModel)]="tbResumeWorkExperience.tbrweJobTitle" name="tbrweJobTitle" [class.not-active]="tbResumeWorkExperience.tbrweStatus === 'not active'">
                            </mat-form-field>                            
                          </td>
                          <td style="width: 15%;" style="vertical-align: top;">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Organization" type="text" [(ngModel)]="tbResumeWorkExperience.tbrweOrganization" name="tbrweOrganization" [class.not-active]="tbResumeWorkExperience.tbrweStatus === 'not active'">
                            </mat-form-field>                            
                          </td>
                          <td style="width: 20%;" style="vertical-align: top;">
                            <mat-form-field class="example-full-width">
                              <mat-date-range-input [rangePicker]="picker" (click)="picker.open()">
                                <input matStartDate placeholder="Start date" [(ngModel)]="tbResumeWorkExperience.tbrweStart" name="tbrweStart" [class.not-active]="tbResumeWorkExperience.tbrweStatus === 'not active'">
                                <input matEndDate placeholder="End date" [(ngModel)]="tbResumeWorkExperience.tbrweEnd" name="tbrweEnd" [class.not-active]="tbResumeWorkExperience.tbrweStatus === 'not active'">
                              </mat-date-range-input>
                              <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>                              
                          </td>
                          <td style="width: 40%;" style="vertical-align: top;">
                            <mat-form-field class="example-full-width">
                              <textarea matInput placeholder="Description" [(ngModel)]="tbResumeWorkExperience.tbrweJobDescription" name="tbrweJobDescription" rows="10" [class.not-active]="tbResumeWorkExperience.tbrweStatus === 'not active'"></textarea>
                            </mat-form-field>
                          </td>
                          <td class="td-actions">
                            <button mat-icon-button title="Deactivate" class="pull-right" [disabled]="clicked" (click)="nonActiveWorkExperience(tbResumeWorkExperience.tbrweUuid);" *ngIf="tbResumeWorkExperience.tbrweStatus == 'not active'"><mat-icon>check</mat-icon></button>
                            <button mat-icon-button title="Deactivate" class="pull-right" [disabled]="clicked" (click)="nonActiveWorkExperience(tbResumeWorkExperience.tbrweUuid);" *ngIf="tbResumeWorkExperience.tbrweStatus == 'active'"><mat-icon>close</mat-icon></button>
                          </td>
                      </tr>
                      <tr>
                        <td colspan="6" style="text-align: center;">
                          <button mat-icon-button title="Add New" class="pull-right" [disabled]="clicked" (click)="addNewWorkExperience();"><mat-icon>add</mat-icon></button>
                        </td>
                      </tr>
                  </tbody>
                </table>                
              </div>
              <div class="tab-pane" id="note">
                <ckeditor
                  [(ngModel)]="postAddResumeRequest.tbResume.tbrNote"
                  [config]="{
                    height: '400px'
                  }"
                  >
                </ckeditor>
              </div>
            </div>
            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="update();">Update</button>
            <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="back();">Back</button>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>