<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/faces/marc.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h4 class="card-title">Alec Thompson</h4>
            <a href="#">
              <i class="fa fa-facebook"></i>
            </a>
            &nbsp;
            <a href="#">
              <i class="fa fa-instagram"></i>
            </a>
            &nbsp;
            <a href="#">
              <i class="fa fa-twitter"></i>
            </a>
            &nbsp;
            <a href="#">
              <i class="fa fa-linkedin"></i>
            </a>
            &nbsp;
            <a href="#">
              <i class="fa fa-github"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-danger">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active" href="#personaldetails" data-toggle="tab">
                      <i class="material-icons">settings</i> Personal Details
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#education" data-toggle="tab">
                      <i class="material-icons">cloud_upload</i> Education
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#workexperience" data-toggle="tab">
                      <i class="material-icons">cloud_upload</i> Work Experience
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#skills" data-toggle="tab">
                      <i class="material-icons">cloud_upload</i> Skills
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link" href="#certifications" data-toggle="tab">
                      <i class="material-icons">cloud_upload</i> Certifications
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="personaldetails">
                <form>
                  <div class="row">
                    <div class="col-md-5">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Company (disabled)" disabled>
                      </mat-form-field>
                    </div>
                    <div class="col-md-3">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Username">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Email address" type="email">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Fist Name" type="text">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Last Name" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Adress" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="City" type="text">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Country" type="text">
                      </mat-form-field>
                    </div>
                    <div class="col-md-4">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Postal Code" type="text">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <label>About Me</label>
                      <mat-form-field class="example-full-width">
                        <textarea matInput
                          placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" >Update</button>
                  <button mat-raised-button type="button" class="btn btn-danger pull-right" [disabled]="clicked" (click)="back();">Back</button>
                  <div class="clearfix"></div>
                </form>
              </div>
              <div class="tab-pane active" id="education">
              </div>
              <div class="tab-pane" id="workexperience">
              </div>
              <div class="tab-pane" id="skills">
              </div>
              <div class="tab-pane" id="certifications">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>